<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Events2Bots" lan="LAN_PLUGIN_E2B_NAME" version="1.0" date="2020-05-30" compatibility="2.0" installRequired="true" >
	<author name="Tijn Kuyper (Moc)" url="https://www.tijnkuyper.nl" />
	<summary>Plugin that helps to send messages to bots (such as Discord and Telegram), based on events in e107</summary>
	<description lan="LAN_PLUGIN_E2B_DIZ">This plugin allows to send messages to bots (such as Discord and Telegram) based on events in e107 such as the posting of a new news item or a new forum post.</description>
	<category>misc</category>
	<keywords>
		<word>gaming</word>
		<word>bots</word>
		<word>events</word>
		<word>discord</word>
		<word>telegram</word>
	</keywords>
	<adminLinks>
		<link url='admin_config.php' description='Configure Events2Bots' icon='images/e2b_32.png' iconSmall='images/e2b_16.png' icon128="images/e2b_128.png" primary='true'>LAN_CONFIGURE</link>
	</adminLinks>
	<pluginPrefs>
		<pref name="e2b_default_avatar">1</pref>
		<pref name="e2b_default_language">English</pref>
		<pref name="e2b_debug">0</pref>
	</pluginPrefs>
</e107Plugin>
